<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{data?.description}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="data:image/jpeg;base64,{{data?.image}}" alt="ion">
    <ion-card-header>
      <ion-card-title>{{data?.description}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Le signalement marqué comme "Términé".
    </ion-card-content>
  </ion-card>
</ion-content>
